body {
  background-color: #d5e1ef;
}

h2 {
 
 
}

p {
  
  font-family: verdana;
  font-size: 20px;
}
.rcorners {
  border-radius: 25px;
  background: white;
  padding: 20px; 
  width: 400px;
  height: 750px;  
  font-family: futura bold;
  text-align: center;
}