body {
  background-color: #d5e1ef;
}


.rcorners {
  border-radius: 25px;
  background: white;
  padding: 20px; 
  width: 400px;
  height: 550px;  
  font-family: futura bold;
  text-align: center;
   margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 40%;
    margin-right: 40%;
}