body {
  background-color: D5E1EF;
}

h1 {
  color: white;
  text-align: center;
}

p {
  
  font-family: verdana;
  font-size: 20px;
}
.rcorners {
  border-radius: 25px;
  background: #000000;
  padding: 20px; 
  width: 400px;
  height: 950px;  
}